* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #33475B;
}

/* sto specificando clearfix come una classe per non doverla ripetere continuamente all'interno del css */
.clearfix{
  content: "";
  display: table;
  clear: both;
  }

/* header */
#header-top {
  width: 100%;
  height: 75px;
  background: ghostwhite;
  border-bottom: 2px solid black;
  /* le istruzioni di seguito fissano in alto l'header-top */
  position: fixed;
  top: 0;
  z-index: 2;
}
#header-bottom {
  position: relative;
  margin-top: 75px;
  width: 100%;
  height: 75px;
  background: white;
}
#logo {
  width: 100px;
  height: 100%;
  line-height: 75px;
}
/* gestione delle liste */
#header-top > div.container {
  margin: 0 10%;
}
#header-bottom > div.container {
  margin: 0 10%;
}
ul {
  list-style: none;
}
ul.left > li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
ul.left > li:first-child {
  padding-left: 0;
}
ul.right > li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
a {
  text-decoration: none;
  color: #33475B;;
}
a.margin {
  margin-right: 10px;
}
#world {
  margin-left: 5px;
}
#ico-search {
  color: #00A4BD;
}
#orange-button-header {
  border-radius: 5px;
  padding: 6px;
  background: #FF7A59;
  color: white;
  border: 1px solid #FF7A59;
}
#white-button-header {
  border-radius: 5px;
  padding: 6px;
  background: white;
  color: #FF7A59;
  border: 1px solid #FF7A59;
}
/* fine gestione delle liste */

/* REGOLE GENERALI - posizionamento provvisorio */
h1 {
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container {
  position: relative;
  width: 80%;
  height: 100%;
  /* questo margin serve a centrarlo nello schermo */
  margin: 0 10%;
  background-color: rgba(255, 0, 0, 0.2);
}
ul.left {
  float: left;
  line-height: 75px;
}
ul.right {
  float: right;
  line-height: 75px;
}
.orange-button {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;
  background: #FF7A59;
  color: white;
  border: 1px solid #FF7A59;
}
.check-icon {
  color: #FF7A59;
  padding-right: 15px;
}
/* fine regole generali */

/* main */
main {
  background-color: ghostwhite;
  /* height: 2500px; */
}
/* gestione sezione jumbotron */
#jumbotron {
  position: relative;
  width: 100%;
  height: 695px;
  /* colore di sfondo alla img, si vede solo nel punto giusto perchè viene sovrascritto dall'img */
  background: #FFF3EE;
  background-image: url(../img/jumbotron.png);
  background-position: right;
  background-repeat: no-repeat;
}
div.half-container {
  width: 40%;
  height: 100%;
  margin: 0 10%;
  /* background: pink; */
  position: relative;
}
div.half-container > h1 {
  line-height: normal;
}
/* fascia sull'immagine */
#jumbotron::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}
/* fine gestione jumbotron */

/* gestione sezione services */
#services {
  padding-bottom: 50px;
  /* background: lightgreen; */
}
/* container cubo contiene anche titolo e paragrafo */
#container-cubo {
  width: 60%;
  margin: 0 20%;
  text-align: center;
}
#container-cubo > h2 {
  padding-top: 10px;
  padding-bottom: 20px;
}
#container-cubo > p{
  padding: 20px 0;
}
#cubo-img {
  display: block;
  max-width: 30%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
#crm {
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* ho specificato una classe font size zero altrimenti mi compariva il fastidioso gap tra i div */
.fontsize0 {
  font-size: 0;
}
.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
}
div#trenta {
  float: left;
  display: inline-block;
  width: 30%;
  text-align: center;
}
div#trenta > img {
  display: block;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 47px;
}
div#settanta {
  position: relative;
  font-size: 16px;
  display: inline-block;
  width: 60%;
}
div#hr-crm {
  position: absolute;
  display: inline-block;
  bottom: 107px;
  right: 0px;
  height: 50px;
  width: 480px;
  border-bottom: 2px solid black;
}
div#settanta > h4 {
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 22px;
}
div#settanta > h5 {
  font-size: 16px;
  padding-top: 20px;
}
div#settanta > ul {
  padding-bottom: 20px;
}
/* gestione colonne */
#left-column {
  float: left;
  width: 29%;
  margin-right: 3.25%;
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
}
#center-column {
  float: left;
  width: 29%;
  margin-left: 3.25%;
  margin-right: 3.25%;
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
}
#right-column {
  float: left;
  width: 29%;
  margin-left: 3.25%;
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
}
.column-top {
  /* background: yellow; */
}
.column-bottom {
  /* background-color: lightblue; */
}
.column-img {
  height: 120px;
  padding-top: 20px;
}
.column-top > h4 {
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.column-top > p {
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
}
.column-bottom > h5 {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.column-bottom > ul {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}
.column-bottom > ul > i {
  color: white;
  padding-left: 10px;
}
.column-hr {
  margin-left: 10%;
  width: 80%;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}
/* fine gestione services */

/* gestione sezione numbers */
#numbers {
  background: rgb(0,168,186);
  background: linear-gradient(90deg, rgba(0,168,186,1) 0%, rgba(0,187,167,1) 100%);
  text-align: center;
  color: white;
}
#numbers-h2 {
  padding-top: 50px;
  padding-bottom: 30px;
}
#numbers-top {
  height: 100%;
  border-bottom: 1px solid white;
  padding-top: 60px;
}
#numbers-bottom {
  height: 100%;
  padding-bottom: 100px;
}
.single-data {
  padding: 30px;
  display: inline-block;
  float: left;
  height: 200px;
  width: 25%;
  border-right: 1px solid white;
}
#numbers-top > .single-data:last-child {
  border-right: none;
}
#numbers-bottom > .single-data:last-child {
  border-right: none;
}
.single-data > img {
  height: 60px;
  padding-bottom: 20px;
}
.single-data > h2 {
  font-size: 50px;
  padding-bottom: 25px;
}
.single-data > p {
  font-size: 0.8em;
}
/* fine gestione numbers */

/* gestione sezione sponsors */
#sponsors {
  background-color: white;
  padding-bottom: 50px;
}
/* parte superiore */
#container-70 {
  padding: 60px;
  width: 70%;
  margin: 0 15%;
}
#sponsor-left {
  display: inline-block;
  float: left;
  width: 25%;
}
#sponsor-left > h2 {
  padding-bottom: 50px;
  font-size: 50px;
}
#sponsor-right {
  display: inline-block;
  float: right;
  width: 60%;
}
.single-sponsor {
  display: inline-block;
  float: left;
  width: 25%;
  padding: 10px;
  text-align: center;
}
.single-sponsor:nth-child(1) > img {
  height: 15px;
}
.single-sponsor:nth-child(2) > img {
  height: 15px;
}
.single-sponsor:nth-child(3) > img {
  height: 30px;
  /* necessita modifica */
}
.single-sponsor:nth-child(4) > img {
  height: 40px;
  /* necessita modifica */
}
.single-sponsor:nth-child(5) > img {
  height: 40px;
}
.single-sponsor:nth-child(6) > img {
  height: 20px;
  /* necessita modifica */
}
.single-sponsor:nth-child(7) > img {
  height: 40px;
  /* necessita modifica */
}
.single-sponsor:nth-child(8) > img {
  height: 25px;
}
/* parte inferiore */
#container-40 {
  width: 40%;
}
#container-40 > span {
  font-size: 0.8em;
}
#container-40 > h2 {
  font-size: 32px;
  line-height: 40px;
  padding: 40px 0;
}
#cinesina {
  position: absolute;
  bottom: 30px;
  right: 50px;
  max-width: 275px;
}
/* fine gestione sponsors */

/* footer */
footer {
  padding-top: 20px;
  width: 100%;
  background-color: #32495B;
}
#footer-top {
  height: 100%;
  border-bottom: 1px solid white;
}
.footer-ul {
  float: left;
  width: 25%;
}
.footer-ul > li {
  padding: 3px 0;
  color: #F5F8FA;
}
.footer-ul :first-child {
  color: white;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 1.1em;
}
#central-ul {
  color: ghostwhite;
  text-align: center;
}
#central-ul > li {
  display: inline-block;
  padding: 20px 10px;
}
#footer-button {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.9em;
  background-color: ghostwhite;
  color: #32495B;
  border-radius: 5px;
  border: 1px solid ghostwhite;
}
#ul-icons > li {
  color: #F5F8FA;
  display: inline-block;
  padding: 9px;
}
#footer-bottom {
  color: ghostwhite;
  height: 200px;
}
