*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

span{
  padding: 10px;
}
ul{
  list-style: none;
}
li{
  display: inline-block;
  padding: 10px;
}
div.container{
  width: 80%;
  height: 100%;
  margin: 0 10%;
  background: red;
  position: relative;
}
.left{
  float: left;
  background: green;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}
.right{
  /* float: right; */
  background: lightgreen;
  position: absolute;
  /* Ho usato position al posto di float perchè: per centrare verticalmente avrei dovuto abbinare line-height a float right, rendendo il sito più complesso da manutenere. Invece con position e translate, se un domani cambio l'altezza dell'header, il contenuto resta al centro - APPROVATO DA ANDREA */
  top: 50%;
  right: 0;
  transform: translate(0,-50%);
}

/* header */
#header-top{
  width: 100%;
  height: 100px;
  background: lightgrey;
  border-bottom: 2px solid black;
}
#header-bottom{
  width: 100%;
  height: 100px;
  background: white;
  border-bottom: 2px solid black;
}

/* main */
#jambotron{}
#services{}
#numbers{}
#sponsors{}

/* footer */
#footer-top{}
#footer-bottom{}
