* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #33475B;
}

/* gestione delle liste */
ul {
  list-style: none;
}
li {
  display: inline-block;
  padding: 10px;
}
ul.left > li {
  display: inline-block;
  padding: 10px;
}
ul.right > li {
  display: inline-block;
  padding: 10px;
}
a {
  text-decoration: none;
  color: #33475B;;
}
a.margin {
  margin-right: 10px;
}
#world {
  margin-left: 5px;
}
/* fine gestione delle liste */

h1 {
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}
div.container {
  width: 80%;
  height: 100%;
  margin: 0 10%;
  /* questo margin serve a centrare i div container nella pagina */
  /* background: red; */
  position: relative;
}
div.half-container {
  width: 40%;
  height: 100%;
  margin: 0 10%;
  /* background: pink; */
  position: relative;
}
.left {
  float: left;
  /* background: green; */
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}
.right {
  /* float: right; */
  /* background: lightgreen; */
  position: absolute;
  /* Ho usato position al posto di float perchè: per centrare verticalmente avrei dovuto abbinare line-height a float right, rendendo il sito più complesso da manutenere. Invece con position e translate, se un domani cambio l'altezza dell'header, il contenuto resta al centro - APPROVATO DA ANDREA */
  top: 50%;
  right: 0;
  transform: translate(0,-50%);
}

.orange-button {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 5px;
  background: orange;
  color: white;
  text-align: center;
  /* perchè nei due pulsanti superiori non ho dovuto specificare text-align e il testo si trovava comunque al centro??? */
  border: 1px solid orange;
}

/* header */
#header-top {
  width: 100%;
  height: 75px;
  background: ghostwhite;
  border-bottom: 2px solid black;
  /* le istruzioni di seguito fissano in alto l'header-top */
  position: fixed;
  top: 0;
  z-index: 2;
}
#header-bottom {
  margin-top: 75px;
  width: 100%;
  height: 75px;
  background: white;
}

/* main */
main {
  background-color: ghostwhite;
  height: 1500px;
}
/* gestione jumbotron */
#jumbotron {
  position: relative;
  width: 100%;
  height: 695px;
  /* colore di sfondo alla img, si vede solo nel punto giusto perchè viene sovrascritto dall'img */
  background: #FFF3EE;
  background-image: url(../img/jumbotron.png);
  background-position: right;
  background-repeat: no-repeat;
}
/* fascia sull'immagine */
#jumbotron::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}
/* fine gestione jumbotron */

/* gestione services */
#services {
  background: lightgreen;
}
/* container cubo contiene anche titolo e paragrafo */
#container-cubo {
  width: 60%;
  margin: 0 20%;
  text-align: center;
  background-color: cyan;
}
#container-cubo >h2 {
  padding-top: 10px;
  padding-bottom: 20px;
}
#cubo-img {
  display: block;
  max-width: 20%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* fine gestione services */

#numbers {}
#sponsors {}

/* footer */
footer {
  width: 100%;
  height: 200px;
  background-color: #32495B;
  border-top: 5px solid black;
}
#footer-top {}
#footer-bottom {}

#orange-button1 {
  border-radius: 5px;
  padding: 6px;
  background: orange;
  color: white;
  border: 1px solid orange;
}
#white-button1 {
  border-radius: 5px;
  padding: 6px;
  background: white;
  color: orange;
  border: 1px solid orange;
}
